/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
a.new-bill{
		margin-left: 12px;	
}
.modal-content.master-form{	
		// margin:40px;
}
.content{
	min-width: 400px;
}
main{
  margin-top: 70px;
}
ul.pagination{
  margin-top: 0px;
}
.cursor-pointer{
  cursor: pointer;
}
.form-general{
  max-width: 700px;
}
.alpha{  
  margin-left: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: white;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #999999;
}
.site_name{
  font-style: italic;
}
#footer{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
}
span.copyright{
  font-size: 14px;
  margin-left: 20px;

}
.form-sign-in{
  max-width: 450px;
  margin: 0 auto;
}
.form-sign-up{
 max-width: 500px;
  margin: 0 auto; 
}
main{
  min-height: 500px;
}
